@import "card";

$primary-color: slateblue;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $primary-color;
  color: #fff;
  line-height: 1.5;
}

#player {
  display: none !important;
}
